*.js              text eol=lf
*.json            text eol=lf
*.html            text eol=lf
*.scss            text eol=lf
*.md              text eol=lf
*.yml             text eol=lf
*.sh              text eol=lf
*.css             text eol=lf
