@import "vars";

// region Fix Chrome
input[type="checkbox"]:checked {
	filter: grayscale(100%);
}

input[type="radio"]:checked {
	filter: grayscale(100%);
}
// endregion

// region Font
.code {
	font-family: monospace !important;
}

.dnd-font {
	font-family: "Andada", serif;
	font-variant: small-caps;
	font-weight: 500;
}
// endregion

// region Font size
.ve-small {
	font-size: 85% !important;
}

.font-size-24p {
	font-size: 24px !important;
}
// endregion

// region Font style
.ve-muted {
	color: $rgb-font--muted !important;
}

.bold {
	font-weight: bold !important;
}

.italic {
	font-style: italic !important;
}

i > i {
	font-style: initial;
}

.underline {
	text-decoration: underline !important;
}

.no-underline {
	text-decoration: none !important;
}

.help {
	cursor: help !important;
	text-decoration: underline !important;
	text-decoration-style: dotted !important;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline !important;
		text-decoration-style: dotted !important;
	}

	&-subtle {
		cursor: help !important;
	}
}
// endregion

// region Font misc
.no-wrap {
	white-space: nowrap !important;
}

.text-clip-ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.whitespace-normal {
	white-space: normal;
}

.whitespace-pre {
	white-space: pre;
}

.small-caps {
	font-variant: small-caps;
}

.capitalise {
	text-transform: capitalize;
}

.no-breaks {
	break-before: auto;
	break-after: auto;
	break-inside: avoid;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}
// endregion

// region Cursor
.clickable {
	cursor: pointer !important;
}

.not-clickable {
	cursor: default !important;
}

.copyable {
	cursor: copy !important;
}
// endregion

// region Events
.no-events {
	pointer-events: none !important;
}

.no-select {
	user-select: none !important;
}
// endregion

// region Scrolling
.smooth-scroll {
	transform: translateZ(0) !important;
}

.overflow-y-auto {
	overflow-y: auto;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.overflow-y-hidden {
	overflow-y: hidden;
}

.overflow-x-auto {
	overflow-x: auto;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-ellipsis {
	@include overflow-dots();
}
// endregion

// region Resizing
.resize-vertical {
	resize: vertical;
}

.resize-none {
	resize: none;
}
// endregion

// region Width

.w-10 {
	width: 10% !important;
}

.w-15 {
	width: 15% !important;
}

.w-20 {
	width: 20% !important;
}

.w-25 {
	width: 25% !important;
}

.w-30 {
	width: 30% !important;
}

.w-33 {
	width: 33.3333333% !important;
}

.w-40 {
	width: 40% !important;
}

.w-50 {
	width: 50% !important;

	&--mr-2 {
		width: calc(50% - #{$spacer * 0.5}) !important;
	}
}

.w-60 {
	width: 60% !important;
}

.w-66 {
	width: 66.6666666% !important;
}

.w-70 {
	width: 70% !important;
}

.w-75 {
	width: 75% !important;
}

.w-80 {
	width: 80% !important;
}

.w-90 {
	width: 90% !important;
}

.w-100 {
	width: 100% !important;
}

.w-initial {
	width: initial !important;
}

.w-30p {
	width: 30px !important;
}

.w-40p {
	width: 40px !important;
}

.w-50p {
	width: 50px !important;
}

.w-80p {
	width: 80px !important;
}

.w-50p {
	width: 50px !important;
}

.w-100p {
	width: 100px !important;
}

.w-640p {
	width: 640px !important;
}

.min-w-0 {
	min-width: 0 !important;
}

.min-w-80 {
	min-width: 80% !important;
}

.min-w-100 {
	min-width: 100% !important;
}

.min-w-100p {
	min-width: 100px !important;
}

.max-w-25 {
	max-width: 25% !important;
}

.max-w-33 {
	max-width: 33.3333333% !important;
}

.max-w-80 {
	max-width: 80% !important;
}

.max-w-100p {
	max-width: 100px !important;
}

.max-w-640p {
	max-width: 640px !important;
}
// endregion

// region Height
.h-100 {
	height: 100% !important;
}

.h-27p {
	height: 27px !important;
}

// Often useful as a hack to force flexbox to behave
.min-h-0 {
	min-height: 0 !important;
}

.min-h-100 {
	min-height: 100% !important;
}

.min-h-24p {
	min-height: 24px !important;
}

.max-h-40 {
	max-height: 40% !important;
}
// endregion

// region Position
.relative {
	position: relative !important;
}

.absolute {
	position: absolute !important;
}
// endregion

// region Display
.ve-grid {
	display: grid !important;
}

.block {
	display: block !important;
}

.inline-block {
	display: inline-block !important;
}

.inline {
	display: inline !important;
}

.inline-flex {
	display: inline-flex !important;
}

.flex {
	display: flex !important;
}

.flex-col {
	display: flex !important;
	flex-direction: column !important;
}

.flex-v-center {
	display: flex !important;
	align-items: center !important;
}


.flex-v-top {
	display: flex;
	align-items: flex-start;
}

.flex-v-baseline {
	display: flex !important;
	align-items: baseline !important;
}

.flex-v-end {
	display: flex !important;
	align-items: flex-end !important;
}

.flex-v-stretch {
	display: flex !important;
	align-items: stretch !important;
}

.flex-h-center {
	display: flex !important;
	justify-content: center !important;
}

.flex-h-right {
	display: flex !important;
	justify-content: flex-end !important;
}

.flex-vh-center {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.flex-vh-center-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.flex-inline-col {
	display: inline-flex !important;
	flex-direction: column !important;
}

.flex-inline-v-center {
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.self-flex-start {
	align-self: flex-start !important;
}

.self-flex-center {
	align-self: center !important;
}

.self-flex-end {
	align-self: flex-end !important;
}

.self-flex-stretch {
	align-self: stretch !important;
}

.flex-fill {
	flex-basis: 100%;
}

.ve-grow {
	flex-grow: 1 !important;
}

.no-shrink {
	flex-shrink: 0 !important;
}

.no-grow {
	flex-grow: 0 !important;
}

.flex-1 {
	flex: 1 !important;
}

.flex-2 {
	flex: 2 !important;
}

.flex-3 {
	flex: 3 !important;
}

.flex-4 {
	flex: 4 !important;
}

.flex-5 {
	flex: 5 !important;
}

.flex-wrap {
	display: flex !important;
	flex-wrap: wrap !important;
}

.split {
	display: flex !important;
	justify-content: space-between !important;
}

.split-v-center {
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
}

.inline-split-v-center {
	display: inline-flex !important;
	justify-content: space-between;
	align-items: center;
}

.split-v-end {
	display: flex !important;
	justify-content: space-between !important;
	align-items: flex-end !important;
}

.split-child {
	width: 50%;
	flex-shrink: 0;
	flex-grow: 0;
}

.split-column {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.split-column--inline {
	display: inline-flex;
}
// endregion

// region Columns
.columns-2 {
	column-count: 2;
	break-inside: avoid-column;

	> * {
		break-inside: avoid-column;
	}

	@media (max-width: 768px) {
		column-count: 1;
	}
}

.columns-3 {
	column-count: 3;
	break-inside: avoid-column;

	> * {
		break-inside: avoid-column;
	}

	@media (max-width: 768px) {
		column-count: 2;
	}

	@media (max-width: 480px) {
		column-count: 1;
	}
}

.columns-4 {
	column-count: 4;
	break-inside: avoid-column;

	> * {
		break-inside: avoid-column;
	}

	@media (max-width: 768px) {
		column-count: 3;
	}

	@media (max-width: 480px) {
		column-count: 2;
	}
}

.columns-5 {
	column-count: 5;
	break-inside: avoid-column;

	> * {
		break-inside: avoid-column;
	}

	@media (max-width: 768px) {
		column-count: 3;
	}

	@media (max-width: 480px) {
		column-count: 2;
	}
}

.columns-6 {
	column-count: 6;
	break-inside: avoid-column;

	> * {
		break-inside: avoid-column;
	}

	@media (max-width: 768px) {
		column-count: 3;
	}

	@media (max-width: 480px) {
		column-count: 2;
	}
}
// endregion

// region Tables
.table-layout-fixed {
	table-layout: fixed !important;
}
// endregion

// region HRs/borders
.hr--dotted {
	border-style: dashed;
	border-left: 0;
	border-right: 0;
}

.hr--heavy {
	border-bottom-width: 2px;
	border-top-width: 3px;
	border-style: outset;
}

.border-dotted {
	border-style: dotted !important;
}
// endregion

// redefine this here to ensure it overrides all the important display types above
// (the namespaced Foundry alias)
.ve-hidden {
	display: none !important;
}
